<app-header titulo="Login"></app-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="title">
      <h1>Welcome!</h1>
      <h5>Get the best from our app</h5>
    </div>
    <div class="contenido">
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input placeholder="Email Address" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
    </div>
    <div>
      <span class="forgot">Forgot Password</span>
    </div>
    <ion-button  expand="block" class="boton">
      Login
    </ion-button>
  </div>
</ion-content>