.title{
    margin: 0px 0px 15% 7%;
    color: #010a7b;
}
span{
    display: inline-block;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.boton{
    height: 70px;
    border-radius: 20px;
}